# Python
__pycache__/

# Secrets
.env

# Editor
.vscode/

# Artifacts
.local/
*.pkl
*.tmp
*.bad
*.err

# pytest
.pytest_cache/

# ruff
.ruff_cache/

# Sphinx
docs/source/api/
docs/build/

# uv
.venv/
uv.lock